# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.tlog
FelledTactics/Debug/
FelledTactics/Release/FelledTactics.lastbuildstate
FelledTactics/Release/FelledTactics.unsuccessfulbuild
